body {
	margin: 0;
	background-image: url('https://images7.alphacoders.com/645/645085.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Rajdhani';
	background-attachment: fixed;
}

h1 {
	font-weight: bold;
	margin: 30px;
	font-size: 3em;
	font-style: italic;
	background: linear-gradient(1deg, #6C6960	 33%, #D5D5D5 66%, #8AA9D6);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.characters-list {
	list-style-type: none;
	padding: 0 100px;
	font-size: 1.5em;
	overflow:hidden;
}
.characters-list li a:hover {
	cursor: pointer;
}
.button-container {
	padding: 0 77px;
}

i {
	margin: 0 10px;
}
.change-list {
	color: rgb(0,0,0);
	width: 80px;
	height: 30px;
	border-radius: 7px;
	font-family: 'Rajdhani';
	border: 2px outset rgb(212,175,55);
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	color: white;
	font-size: 1.1em;
	margin: 20px;
	line-height: 100%;
	transition: transform linear 300ms;

}

.change-list:hover {
	width: 83px;
	height: 33px;
}

.lds-roller {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
  padding: 20px;
  margin: 0 90px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  color: white;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #cef;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }